/*!
global > _color.scss
--------------------------------
*/

:root {
  --color-bg-base: #fff;
  --color-bg-main: #524433;
  --color-bg-accent: #efede9;
  --color-bg-dark: #000;

  --color-bg-border-dark: #000;
  --color-bg-border-light: #fff;

  --color-font-base: #000;
  --color-font-main: #524433;
  --color-font-light: #fff;

  --color-bg-button-dark: #000;
  --color-bg-button-light: #fff;
  --color-font-button-dark: #000;
  --color-font-button-light: #fff;
}
