@use "../global" as g;

/*!
layout > _footer.scss
--------------------------------
*/

.footer {
  padding-block: 64px 16px;
  background: var(--color-bg-main);
  color: var(--color-font-button-light);
  @include g.media(md) {
    padding-block: 80px 24px;
  }
}

.footer .c-logo {
  margin-inline: auto;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-start: 24px;
  @include g.media(md) {
    margin-block-start: 40px;
  }
}

.footer__item {
  position: relative;
  font-size: clamp(0.875rem, 0.83rem + 0.2vw, 1rem);
  line-height: 1.75;
}

.footer__item:not(:first-child)::before {
  content: "/";
  padding-inline: 1em;
}

.footer__link {
  display: inline-block;
  transition: opacity 0.3s;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer__text:first-of-type {
  margin-block-start: 24px;
}

.footer__text {
  margin-block-start: 8px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
}

.footer__copyright {
  display: block;
  margin-block-start: 64px;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
}
