@use "../global" as g;

/*!
component > _button.scss
--------------------------------
*/

.c-button {
  position: relative;
  display: grid;
  place-items: center;
  margin-inline: auto;
  padding-block: 8px;
  padding-inline: 16px;
  font-family: var(--font-family-en);
  font-size: clamp(0.875rem, 0.786rem + 0.4vw, 1.125rem);
  line-height: 1;
  text-transform: uppercase;
  background: var(--color-bg-button-dark);
  color: var(--color-font-button-light);

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    display: block;
    width: 24px;
    height: 1px;
    background: var(--color-bg-button-light);
    @include g.media(md) {
      width: 28px;
      transition: width 0.3s;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        width: 34px;
      }
    }
  }
}

.c-button--md {
  width: min(100%, 220px);
  height: 50px;
  @include g.media(md) {
    width: min(100%, 240px);
    height: 60px;
  }
}

.c-button--light {
  background: var(--color-bg-button-light);
  color: var(--color-bg-button-dark);
  &::after {
    background: var(--color-bg-button-dark);
  }
}
